.background {
    height: 100vh;
    background-size: cover;
    opacity: 0.8;
}

.forgot-password-container {
    width: 40%;
    margin: auto;
    position: relative;
    top: 30%;
    padding: 1%;
    border-radius: 10px;;

}