
/* Individual Table Header */
.bookstore-header {
    font-size: 2em;
    text-align: center;
    padding-bottom: 2.5%;
} 


/* Table  */
.view-all-requests-table {
    border: 0.5px solid #c8c9ca;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
}

.deleteButton {
    display: block;
    float: right;
    margin: 0 4% 0 0;
}

.clickable {
    font: 16px sans-serif;
}

.deleteButton:hover, svg:hover {
    color: white !important;
}
.deleteIcon {
    color:#dc3545;
    margin-top: -1.5px !important;
    margin-bottom: -1.5px !important;
}



.icons {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 0.3rem;

}

.table-icon {
    width: fit-content;
}

@media only screen and (max-width: 1284px) {
    .icons {
        
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-row-gap: 0.3rem;
        justify-content: center;
    
    }

}

@media (max-width: 576px) {
    .request-table {
        padding-bottom: 15%;
    }
    
    .filterRequests {
        width: 100% !important;
        text-align: center !important;
    }

    .footer {
        opacity: .95;
    }

    .addOrder {
        border-radius: 50px;
        border: 2.5px solid;
        position: fixed;
        width: 70px;
        height: 70px;
        bottom: 80px;
        right: 5px;
        z-index: 1;
    }

    .helpIcon { 
        border-radius: 10px;
    }
  
}


@media (min-width: 576px) and (max-width: 768px) {
  .filterContainer {
      padding: 0;
  }

  .filterRequests {
      width: 300px !important;
  }

  .addOrder {
    display: block;
    float: right;
    margin-right: 0 !important;
}

.addBtnContainer {
    padding: 0 !important;
}
}

@media (min-width: 768px) {
    .filterRequests {
        margin-left: 3.9%;
        width: 300px !important;
    }

    .addOrder {
        display: block;
        float: right;
        margin-right: 3%;
    }

}

.request-table {
    padding-bottom: 10%;
}

.ctrl {
    margin-right: 3% !important;
}

.addBtnText {
    margin-bottom: 2px;
}


th, .icon-fix {
    white-space: nowrap;
}


th:hover {
    background-color: #d0f0c0;
    cursor: pointer;
}



.requestBtns {
    margin-left: 3%;
}

/* Order Column Widths */

@media (min-width: 644px) {
    .date {
        width:3% !important;
    }
    .description {
        width: 32% !important;
    }
    .address {
        width: 15% !important;
    }
    .delivery-column {
        width: 5% !important;
    }
    .customer {
        width: 15% !important;
    }

    .genre {
        width: 5% !important;
    }
    
    .bookTitle {
        width: 15% !important;
    }

    .edit {
        width: 14% !important;
    }

}


@media (max-width: 640px) {
    .view-all-requests-table {
        border: none;
    }

    tr {
        margin-top: 2%;
    }

    .responsiveTable tbody tr {
        border: 1px solid #c8c9ca !important;
        border-radius: 10px;
    }

   .span-fix {
        margin-left: 0 !important;
    }
    .requestBtns {
        margin-left: 0 !important;
    }

    div.tdBefore {
        left: 15% !important;
    }

    .icons {
        grid-template-rows: auto;
        grid-template-columns: auto auto auto;
        grid-column-gap: 0.3rem;
    
    }

}

.exportButton {
    float: right;
     margin-right: 1%;
}
