.view-form {
    font-family: sans-serif !important;
}

#copied {
    margin-left: 3%;
}

#securityMessage {
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
}

.genre-display-container {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}

.genre-btn-control {
    margin: 0.25rem;
}

.genre-display-title {
    margin-bottom: 0.5rem;
}

.genre-input-box {
    display: inline-block;
    margin-right: 1rem;
}

@media only screen and (max-width: 500px) {
    .genre-input-box {
        display: block;
        margin-bottom: 1rem;

    }
}