svg.helpIcon:hover, button.helpButton:active {
    color: red !important;
}

svg.helpIcon {
    color: grey;
    width: 20px;
}

.helpButton {
    margin-left: 0.8%;
}

@media (max-width: 576px) {

    .helpIcon { 
        border-radius: 10px;
    }
  
}
