.modal-description {
    width: 400px;
}


.form-header{
    margin-left: 3.7%;
    margin-bottom: 2%;
  }
  
  form {
    padding: 0 4%;
  }

.modal-last-name {
    margin-left: 0 !important;
}
  
  /* The div which holds the radio question */
  .book-title-radio {
    /* width: 26rem; */
    margin-bottom: 2%;
  }
  
  div.form.row {
    margin-left: 0;
    margin-right: 0;
  }
  
  .form-group {
    margin: 1% 0;
  }

  
  .recommendation-form {
    margin-top: 1.25%;
  }
  
  .delivery {
    margin: 2.25% 0 1%;
  }
  
  .book-request-button {
    margin: 1% 0 5% 0;
    padding-left: 0.32%;
  }

  @media only screen and (max-width: 460px) {

    .modal-city {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 221px;;
    }

    .modal-province {
      width: 105px;
    }

    .modal-description {
      width: 82vw;
  }
  }